In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

In [2]:
dataset = pd.read_csv('F:/Course Study/Thesis(Musharrat Mam)/iris_data.csv')
dataset.head()
dataset['sepalLength']
data = [];

for i in range(150):
    lst = [];
    lst.append(dataset['sepalLength'][i]);
    lst.append(dataset['sepalWidth'][i]);
    lst.append(dataset['petalLength'][i]);
    lst.append(dataset['petalWidth'][i]);
    lst.append(dataset['class'][i]);
    data.append(lst);
print(data);

[[5.1, 3.5, 1.4, 0.2, 0], [4.9, 3.0, 1.4, 0.2, 0], [4.7, 3.2, 1.3, 0.2, 0], [4.6, 3.1, 1.5, 0.2, 0], [5.0, 3.6, 1.4, 0.2, 0], [5.4, 3.9, 1.7, 0.4, 0], [4.6, 3.4, 1.4, 0.3, 0], [5.0, 3.4, 1.5, 0.2, 0], [4.4, 2.9, 1.4, 0.2, 0], [4.9, 3.1, 1.5, 0.1, 0], [5.4, 3.7, 1.5, 0.2, 0], [4.8, 3.4, 1.6, 0.2, 0], [4.8, 3.0, 1.4, 0.1, 0], [4.3, 3.0, 1.1, 0.1, 0], [5.8, 4.0, 1.2, 0.2, 0], [5.7, 4.4, 1.5, 0.4, 0], [5.4, 3.9, 1.3, 0.4, 0], [5.1, 3.5, 1.4, 0.3, 0], [5.7, 3.8, 1.7, 0.3, 0], [5.1, 3.8, 1.5, 0.3, 0], [5.4, 3.4, 1.7, 0.2, 0], [5.1, 3.7, 1.5, 0.4, 0], [4.6, 3.6, 1.0, 0.2, 0], [5.1, 3.3, 1.7, 0.5, 0], [4.8, 3.4, 1.9, 0.2, 0], [5.0, 3.0, 1.6, 0.2, 0], [5.0, 3.4, 1.6, 0.4, 0], [5.2, 3.5, 1.5, 0.2, 0], [5.2, 3.4, 1.4, 0.2, 0], [4.7, 3.2, 1.6, 0.2, 0], [4.8, 3.1, 1.6, 0.2, 0], [5.4, 3.4, 1.5, 0.4, 0], [5.2, 4.1, 1.5, 0.1, 0], [5.5, 4.2, 1.4, 0.2, 0], [4.9, 3.1, 1.5, 0.1, 0], [5.0, 3.2, 1.2, 0.2, 0], [5.5, 3.5, 1.3, 0.2, 0], [4.9, 3.1, 1.5, 0.1, 0], [4.4, 3.0, 1.3, 0.2, 0], [5.1, 3.4, 1.5, 0.2, 0], [5.0, 3.5, 1.3, 0.3, 0], [4.5, 2.3, 1.3, 0.3, 0], [4.4, 3.2, 1.3, 0.2, 0], [5.0, 3.5, 1.6, 0.6, 0], [5.1, 3.8, 1.9, 0.4, 0], [4.8, 3.0, 1.4, 0.3, 0], [5.1, 3.8, 1.6, 0.2, 0], [4.6, 3.2, 1.4, 0.2, 0], [5.3, 3.7, 1.5, 0.2, 0], [5.0, 3.3, 1.4, 0.2, 0], [7.0, 3.2, 4.7, 1.4, 1], [6.4, 3.2, 4.5, 1.5, 1], [6.9, 3.1, 4.9, 1.5, 1], [5.5, 2.3, 4.0, 1.3, 1], [6.5, 2.8, 4.6, 1.5, 1], [5.7, 2.8, 4.5, 1.3, 1], [6.3, 3.3, 4.7, 1.6, 1], [4.9, 2.4, 3.3, 1.0, 1], [6.6, 2.9, 4.6, 1.3, 1], [5.2, 2.7, 3.9, 1.4, 1], [5.0, 2.0, 3.5, 1.0, 1], [5.9, 3.0, 4.2, 1.5, 1], [6.0, 2.2, 4.0, 1.0, 1], [6.1, 2.9, 4.7, 1.4, 1], [5.6, 2.9, 3.6, 1.3, 1], [6.7, 3.1, 4.4, 1.4, 1], [5.6, 3.0, 4.5, 1.5, 1], [5.8, 2.7, 4.1, 1.0, 1], [6.2, 2.2, 4.5, 1.5, 1], [5.6, 2.5, 3.9, 1.1, 1], [5.9, 3.2, 4.8, 1.8, 1], [6.1, 2.8, 4.0, 1.3, 1], [6.3, 2.5, 4.9, 1.5, 1], [6.1, 2.8, 4.7, 1.2, 1], [6.4, 2.9, 4.3, 1.3, 1], [6.6, 3.0, 4.4, 1.4, 1], [6.8, 2.8, 4.8, 1.4, 1], [6.7, 3.0, 5.0, 1.7, 1], [6.0, 2.9, 4.5, 1.5, 1], [5.7, 2.6, 3.5, 1.0, 1], [5.5, 2.4, 3.8, 1.1, 1], [5.5, 2.4, 3.7, 1.0, 1], [5.8, 2.7, 3.9, 1.2, 1], [6.0, 2.7, 5.1, 1.6, 1], [5.4, 3.0, 4.5, 1.5, 1], [6.0, 3.4, 4.5, 1.6, 1], [6.7, 3.1, 4.7, 1.5, 1], [6.3, 2.3, 4.4, 1.3, 1], [5.6, 3.0, 4.1, 1.3, 1], [5.5, 2.5, 4.0, 1.3, 1], [5.5, 2.6, 4.4, 1.2, 1], [6.1, 3.0, 4.6, 1.4, 1], [5.8, 2.6, 4.0, 1.2, 1], [5.0, 2.3, 3.3, 1.0, 1], [5.6, 2.7, 4.2, 1.3, 1], [5.7, 3.0, 4.2, 1.2, 1], [5.7, 2.9, 4.2, 1.3, 1], [6.2, 2.9, 4.3, 1.3, 1], [5.1, 2.5, 3.0, 1.1, 1], [5.7, 2.8, 4.1, 1.3, 1], [6.3, 3.3, 6.0, 2.5, 2], [5.8, 2.7, 5.1, 1.9, 2], [7.1, 3.0, 5.9, 2.1, 2], [6.3, 2.9, 5.6, 1.8, 2], [6.5, 3.0, 5.8, 2.2, 2], [7.6, 3.0, 6.6, 2.1, 2], [4.9, 2.5, 4.5, 1.7, 2], [7.3, 2.9, 6.3, 1.8, 2], [6.7, 2.5, 5.8, 1.8, 2], [7.2, 3.6, 6.1, 2.5, 2], [6.5, 3.2, 5.1, 2.0, 2], [6.4, 2.7, 5.3, 1.9, 2], [6.8, 3.0, 5.5, 2.1, 2], [5.7, 2.5, 5.0, 2.0, 2], [5.8, 2.8, 5.1, 2.4, 2], [6.4, 3.2, 5.3, 2.3, 2], [6.5, 3.0, 5.5, 1.8, 2], [7.7, 3.8, 6.7, 2.2, 2], [7.7, 2.6, 6.9, 2.3, 2], [6.0, 2.2, 5.0, 1.5, 2], [6.9, 3.2, 5.7, 2.3, 2], [5.6, 2.8, 4.9, 2.0, 2], [7.7, 2.8, 6.7, 2.0, 2], [6.3, 2.7, 4.9, 1.8, 2], [6.7, 3.3, 5.7, 2.1, 2], [7.2, 3.2, 6.0, 1.8, 2], [6.2, 2.8, 4.8, 1.8, 2], [6.1, 3.0, 4.9, 1.8, 2], [6.4, 2.8, 5.6, 2.1, 2], [7.2, 3.0, 5.8, 1.6, 2], [7.4, 2.8, 6.1, 1.9, 2], [7.9, 3.8, 6.4, 2.0, 2], [6.4, 2.8, 5.6, 2.2, 2], [6.3, 2.8, 5.1, 1.5, 2], [6.1, 2.6, 5.6, 1.4, 2], [7.7, 3.0, 6.1, 2.3, 2], [6.3, 3.4, 5.6, 2.4, 2], [6.4, 3.1, 5.5, 1.8, 2], [6.0, 3.0, 4.8, 1.8, 2], [6.9, 3.1, 5.4, 2.1, 2], [6.7, 3.1, 5.6, 2.4, 2], [6.9, 3.1, 5.1, 2.3, 2], [5.8, 2.7, 5.1, 1.9, 2], [6.8, 3.2, 5.9, 2.3, 2], [6.7, 3.3, 5.7, 2.5, 2], [6.7, 3.0, 5.2, 2.3, 2], [6.3, 2.5, 5.0, 1.9, 2], [6.5, 3.0, 5.2, 2.0, 2], [6.2, 3.4, 5.4, 2.3, 2], [5.9, 3.0, 5.1, 1.8, 2]]

In [3]:
import random
random.seed(5)

one  = random.randint(0, 150)
two = random.randint(0, 150)
three = random.randint(0, 150)

print(one)
print(two)
print(three)

65
91
135

In [4]:
dataset

     sepalLength  sepalWidth  petalLength  petalWidth  class
0            5.1         3.5          1.4         0.2      0
1            4.9         3.0          1.4         0.2      0
2            4.7         3.2          1.3         0.2      0
3            4.6         3.1          1.5         0.2      0
4            5.0         3.6          1.4         0.2      0
..           ...         ...          ...         ...    ...
145          6.7         3.0          5.2         2.3      2
146          6.3         2.5          5.0         1.9      2
147          6.5         3.0          5.2         2.0      2
148          6.2         3.4          5.4         2.3      2
149          5.9         3.0          5.1         1.8      2

[150 rows x 5 columns]

In [5]:
c1 = []
c2 = []
c3 = []

c1 = data[one]
print(c1)

c2 = data[two]
print(c2)

c3 = data[three]
print(c3)

[6.7, 3.1, 4.4, 1.4, 1]
[6.1, 3.0, 4.6, 1.4, 1]
[7.7, 3.0, 6.1, 2.3, 2]

In [6]:
def dis(source, dst):
    sum = 0
    for i in range(4):
        x = source[i] - dst[i];
        x = x*x    
        sum += x
    return math.sqrt(sum)

In [7]:
def update(c):
    up = []
    
    for i in range(4):
        sum = 0
        for j in range(len(c)):
            sum += c[j][i]
        up.append(sum/len(c))
    return up

In [8]:
cl1 = []
cl2 = []
cl3 = []
for i in range(15):
    cl1 = []
    cl2 = []
    cl3 = []
    for j in range(150):
        d1 = dis(c1, data[j])
        d2 = dis(c2, data[j])
        d3 = dis(c3, data[j])
        m = min(d1,d2,d3)
        
        if (m==d1):
            cl1.append(data[j])
        elif (m==d2):
            cl2.append(data[j])
        else:
            cl3.append(data[j])    
    
    c1 = update(cl1)
    c2 = update(cl2)
    c3 = update(cl3)
  
print(c1)
print(c2)
print(c3)

[5.88360655737705, 2.740983606557377, 4.388524590163935, 1.4344262295081966]
[5.005999999999999, 3.4180000000000006, 1.464, 0.2439999999999999]
[6.853846153846153, 3.0769230769230766, 5.715384615384615, 2.053846153846153]

In [9]:
cn1 = 0
cn2 = 0
cn3 = 0
for i in range(len(cl1)):
    if(cl1[i][4]==0):
        cn1+=1
    elif(cl1[i][4]==1):
        cn2+=1  
    else:
        cn3+=1    
        
print(cn1)
print(cn2)
print(cn3)
m1 = max(cn1,cn2,cn3)
#print(len(cl1))

0
47
14

In [10]:
cn11 = 0
cn22 = 0
cn33 = 0

for i in range(len(cl2)):
    if(cl2[i][4]==0):
        cn11+=1
    elif(cl2[i][4]==1):
        cn22+=1  
    else:
        cn33+=1     
print(cn11)
print(cn22)
print(cn33)
m2 = max(cn11,cn22,cn33)
#print(len(cl2))

50
0
0

In [11]:
cn111 = 0
cn222 = 0
cn333= 0
for i in range(len(cl3)):
    if(cl3[i][4]==0):
        cn111+=1
    elif(cl3[i][4]==1):
        cn222+=1  
    else:
        cn333+=1 
print(cn111)
print(cn222)
print(cn333)
m3 = max(cn111,cn222,cn333)
#print(len(cl3))

0
3
36

In [14]:
print("Versicolor: " + str(cn2)+" "+ str(cn22)+" "+ str(cn222))
print("Setosa    : " + str(cn1) +" "+str(cn11) +" "+str(cn111))
print("Virginica : " + str(cn3)+" "+ str(cn33)+" "+ str(cn333))

Versicolor: 47 0 3
Setosa    : 0 50 0
Virginica : 14 0 36

In [13]:
m = (m1+m2+m3)/150
print("Accuracy: " + str(m*100))

Accuracy: 88.66666666666667